@import './typography.scss';

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media only screen and (max-width: 50em) {
    font-size: 80%;
  }

  @media only screen and (max-width: 37.5em) {
    font-size: 62.5%;
  }
}

body {
  font-family: 'Darker Grotesque', sans-serif;
}

@import './utils.scss';
