.pre-wedding {
  background: #0f3e3b;

  &__1,
  &__2,
  &__5,
  &__3,
  &__4,
  &__6,
  &__7,
  &__8,
  &__9 {
    height: 100vh;
    position: relative;
    scroll-snap-align: center;
  }

  &__1 {
    @media only screen and (max-width: 28.175em) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .heading.mobile {
      display: none;
      font-family: 'Bigilla', sans-serif;
      font-weight: normal;
      color: $color-brown;
      font-size: 7rem;
      text-align: center;

      @media only screen and (max-width: 28.175em) {
        display: block;
      }
    }

    .creator {
      position: absolute;
      bottom: 8rem;
      left: 15%;
      color: $color-black-4;

      @media only screen and (max-width: 28.175em) {
        display: none;
      }
    }
  }

  &__2,
  &__3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;

    @media only screen and (max-width: 28.175em) {
      padding: 0 2rem;
    }
  }

  &__2 {
    & > img {
      justify-self: flex-end;
      height: 75%;

      @media only screen and (max-width: 64em) and (orientation: portrait) {
        width: 42vw;
        height: auto;
      }

      @media only screen and (max-width: 28.175em) {
        height: auto;
        width: 50vw;
      }
    }

    .text-2 {
      font-size: 1.6rem;
      width: 50%;
      color: $color-brown;

      @media only screen and (max-width: 28.175em) {
        width: 100%;
        border-bottom: 1px solid $color-black-4;
        padding-bottom: 2rem;
      }
    }

    .underline {
      position: relative;
      left: -3rem;
      margin-top: 1rem;

      @media only screen and (max-width: 50em) {
        width: 50%;
      }

      @media only screen and (max-width: 28.175em) {
        display: none;
      }
    }
  }

  &__3 {
    position: relative;

    @media only screen and (max-width: 28.175em) {
      justify-content: flex-end;
      display: flex;
    }

    & > img {
      height: 75%;

      @media only screen and (max-width: 64em) and (orientation: portrait) {
        width: 42vw;
        height: auto;
      }

      @media only screen and (max-width: 28.175em) {
        height: unset;
        width: 50vw;
      }
    }

    .description {
      position: relative;

      @media only screen and (max-width: 28.175em) {
        position: absolute;
        left: 0;
        top: 50%;
      }
    }

    .text-2 {
      font-size: 1.6rem;
      width: 50%;
      color: $color-brown;
      margin-left: auto;

      @media only screen and (max-width: 28.175em) {
        width: 80%;
        margin-left: 2rem;
      }
    }

    .underline {
      position: absolute;
      right: -1rem;
      margin-top: 1rem;

      @media only screen and (max-width: 28.175em) {
        right: 5rem;
        width: 80%;
      }
    }
  }

  &__4 {
    display: flex;
    align-items: center;
    justify-content: center;
    .img {
      background-image: url('../assets/images/prewed-6.png');
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%;

      @media only screen and (max-width: 64em) and (orientation: portrait) {
        height: 50vh;
      }

      @media only screen and (max-width: 28.175em) {
        height: 50vh;
      }
    }
  }

  &__5 {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 4rem;

    @media only screen and (max-width: 28.175em) {
      height: 50vh;
    }
  }

  &__6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding: 5% 4rem;

    @media only screen and (max-width: 28.175em) {
      height: 50vh;
      padding: 5% 2rem;
    }

    img {
      height: 80%;

      @media only screen and (max-width: 64em) {
        height: unset;
        width: calc(100vw / 2 - 6rem);
      }

      @media only screen and (max-width: 28.175em) {
        height: unset;
        width: calc(100vw / 2 - 4rem);
      }
    }

    img:last-child {
      align-self: flex-start;
      justify-self: flex-start;
    }

    img:first-child {
      justify-self: flex-end;
      align-self: flex-end;
    }
  }

  &__7 {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 80%;

      @media only screen and (max-width: 64em) {
        width: 90vw;
        height: unset;
      }

      @media only screen and (max-width: 28.175em) {
        height: unset;
        width: 90vw;
      }
    }
  }

  &__8 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 5% 0;

    @media only screen and (max-width: 28.175em) {
      height: 50vh;
      margin-bottom: 50vh;
    }

    img {
      height: 80%;

      @media only screen and (max-width: 64em) {
        height: unset;
        width: calc(100vw / 3 - 15px);
      }

      @media only screen and (max-width: 28.175em) {
        height: unset;
        width: calc(100vw / 3 - 15px);
      }

      &:first-child {
        justify-self: flex-end;
      }

      &:nth-child(2) {
        align-self: center;
      }

      &:last-child {
        align-self: flex-end;
        justify-self: flex-start;
      }
    }
  }

  &__9 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media only screen and (max-width: 64em) and (orientation: portrait) {
      align-items: center;
    }

    @media only screen and (max-width: 28.175em) {
      align-items: center;
    }

    .img {
      height: 140%;
      width: 100%;
      background-size: cover;
      background-position: center -60px;

      @media only screen and (max-width: 64em) and (orientation: portrait) {
        height: 50%;
        background-position: center;
      }

      @media only screen and (max-width: 28.175em) {
        height: 50%;
        background-position: center;
      }

      &:first-child {
        background-image: url('../assets/images/prewed-13.png');
      }

      &:last-child {
        background-image: url('../assets/images/prewed-14.png');
      }
    }
  }
}

.back-to-top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  z-index: -999;
  transition: opacity 0.3s;

  &.showed {
    opacity: 1;
    z-index: 1;
  }

  &__container {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-3 {
    text-align: center;
    font-weight: 700;
    color: $color-blue-c;
  }

  img {
    transform: rotate(180deg);
  }
}

.one {
  &__img-container {
    position: relative;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 36.5%;
    width: 50%;

    @media only screen and (max-width: 28.175em) {
      width: 100%;
      top: unset;
      left: unset;
      transform: unset;
      position: relative;
    }
  }

  &__description {
    position: absolute;
    top: 85%;
    left: 5rem;
    font-family: 'Peddana', sans-serif;
    line-height: 1.2;
    font-size: 1.8rem;
    color: $color-green;
    background-color: $color-brown-a;
    padding: 5rem 0 2rem 3rem;
    width: 105%;
    z-index: 0;

    @media only screen and (max-width: 50em) {
      width: 100%;
      padding: 3rem 2rem 2rem 2rem;
    }

    @media only screen and (max-width: 28.175em) {
      right: 0;
      left: unset;
      text-align: right;
      padding: 0 2rem;
      width: 100%;
      background-color: unset;
      color: $color-brown;
      top: unset;
      position: relative;
      padding-top: 2rem;

      &:before {
        content: '';
        position: absolute;
        right: 2rem;
        top: 1rem;
        height: 1px;
        width: 30%;
        background-color: $color-black-4;
      }
    }
  }

  &__arrow-down {
    position: absolute;
    bottom: -4rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: rgba(196, 196, 196, 0.1);
    height: 8rem;
    width: 8rem;
    clip-path: inset(0% 0% 50% 0%);

    img {
      margin-top: 1.6rem;
    }
  }
}

.two {
  &__img-container {
    position: relative;
    top: 20%;
    height: 60%;

    @media only screen and (max-width: 50em) {
      height: 45%;
    }

    @media only screen and (max-width: 28.175em) {
      height: 30%;
      top: 0;
    }

    @media only screen and (max-width: 20em) {
      height: 25%;
    }

    &--1 {
      justify-self: flex-end;
    }

    &--2 {
      height: 50%;

      @media only screen and (max-width: 50em) {
        height: 35%;
      }

      @media only screen and (max-width: 28.175em) {
        height: 20%;
      }

      @media only screen and (max-width: 20em) {
        height: 18%;
      }

      img {
        display: inline-block;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $color-brown;
      }
    }

    img {
      height: 100%;

      @media only screen and (min-width: 28.175em) and (max-width: 64em) and (orientation: portrait) {
        height: 50%;
      }
    }

    .text-2 {
      width: 66.7%;
      font-size: 1.4rem;
      line-height: 1.2;
      color: $color-brown;

      @media only screen and (max-width: 20em) {
        margin-top: 1rem;
      }
    }
  }
}

.heading-0 {
  font-weight: 400;
  font-size: 15rem;
  color: $color-brown;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  left: 20%;
  letter-spacing: 0.02em;
  line-height: 0.8;
  z-index: 1;
  background: linear-gradient(to right, $color-orange-a, #081c2e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media only screen and (max-width: 64em) {
    font-size: 10rem;
  }

  @media only screen and (max-width: 37.5em) {
    font-size: 7rem;
  }

  @media only screen and (max-width: 28.175em) {
    display: none;
  }
}

.img-1 {
  position: relative;
  z-index: 1;
  width: 100%;
}
