.pre-wedding {
  background: #0f3e3b;

  &__1,
  &__2,
  &__5,
  &__3,
  &__4,
  &__6,
  &__7,
  &__8,
  &__9,
  &__10,
  &__11,
  &__12,
  &__13,
  &__14,
  &__15,
  &__16 {
    height: 100vh;
    position: relative;
    scroll-snap-align: center;
  }

  &__1 {
    @media only screen and (max-width: 28.175em) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .heading.mobile {
      display: none;
      font-family: 'Bigilla', sans-serif;
      font-weight: normal;
      color: $color-brown;
      font-size: 7rem;
      text-align: center;

      @media only screen and (max-width: 28.175em) {
        display: block;
      }
    }

    .creator {
      position: absolute;
      bottom: 8rem;
      left: 15%;
      color: $color-black-4;

      @media only screen and (max-width: 28.175em) {
        display: none;
      }
    }
  }

  &__2,
  &__3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;

    @media only screen and (max-width: 28.175em) {
      padding: 0 2rem;
    }
  }

  &__2 {
    @media only screen and (orientation: portrait) {
      grid-template-columns: none;
      align-items: flex-start;
    }

    .img-container {
      justify-self: flex-end;
      height: 75%;
      display: flex;
      justify-content: flex-end;

      @media only screen and (orientation: portrait) {
        justify-self: center;
        justify-content: center;
        align-self: flex-end;
        height: 80%;
      }

      & > img {
        max-height: 100%;
        width: 80%;
        object-fit: cover;
        object-position: center;
      }
    }

    .text-2 {
      font-size: 1.6rem;
      width: 50%;
      color: $color-brown;

      @media only screen and (orientation: portrait) {
        text-align: center;
        width: 80%;
        margin: 0 auto;
      }

      @media only screen and (max-width: 28.175em) {
        width: 100%;
        border-bottom: 1px solid $color-black-4;
        padding-bottom: 2rem;
      }
    }

    .underline {
      position: relative;
      left: -3rem;
      margin-top: 1rem;

      @media only screen and (orientation: portrait) {
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
      }

      @media only screen and (max-width: 50em) {
        width: 50%;
      }

      @media only screen and (max-width: 28.175em) {
        display: none;
      }
    }
  }

  &__3 {
    @media only screen and (orientation: portrait) {
      grid-template-columns: 1fr;
    }

    .img-container {
      width: 50%;

      @media only screen and (orientation: portrait) {
        grid-row: 1 / 2;
        justify-self: center;
        align-self: flex-end;
      }

      @media only screen and (orientation: portrait) and (max-width: 37.5em) {
        width: 70%;
      }

      .aspect-ratio {
        position: relative;
        padding-top: 150%;

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .text-2 {
      font-size: 1.6rem;
      width: 50%;
      color: $color-brown;
      margin-left: auto;
      text-align: right;

      @media only screen and (orientation: portrait) {
        text-align: center;
        width: 80%;
        margin: 0 auto;
      }
    }

    .description {
      position: relative;

      @media only screen and (orientation: portrait) {
        align-self: flex-start;
      }
    }

    .underline {
      position: absolute;
      right: -3rem;
      bottom: -3rem;

      @media only screen and (orientation: portrait) {
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        bottom: -5rem;
      }
    }
  }

  &__4 {
    display: flex;
    align-items: center;
    justify-content: center;
    .img {
      background-image: url('../assets/images/prewed-6.webp');
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%;

      @media only screen and (max-width: 64em) and (orientation: portrait) {
        height: 50vh;
      }

      @media only screen and (max-width: 28.175em) {
        height: 50vh;
      }
    }
  }

  &__5 {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 2rem;

    @media only screen and (orientation: portrait) {
      align-items: center;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr auto 1fr;
    }

    .img-container {
      position: relative;
      top: 10%;

      @media only screen and (orientation: portrait) {
        top: 0;
      }

      &:first-child {
        width: 61%;
        justify-self: flex-end;

        @media only screen and (orientation: portrait) {
          width: 75%;
        }

        .aspect-ratio {
          padding-top: 150%;
        }
      }

      &:nth-child(2) {
        width: 80%;

        @media only screen and (orientation: portrait) {
          width: 85%;
        }
        .aspect-ratio {
          padding-top: 67%;
        }
      }

      .aspect-ratio {
        position: relative;
        img {
          height: 100%;
          width: 100%;
          object-position: center;
          object-fit: cover;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }

    .text-2 {
      color: $color-brown;
      font-size: 1.4rem;
      line-height: 1.2;

      &--portrait-1,
      &--portrait-2 {
        display: none;
        grid-column: 1 / -1;
        width: 80%;
        margin: 0 auto;
        @media only screen and (orientation: portrait) {
          display: block !important;
        }
      }

      &--portrait-1 {
        grid-row: 1 / 2;
        align-self: flex-end;
      }

      &--portrait-2 {
        align-self: flex-start;
      }

      @media only screen and (orientation: portrait) {
        display: none;
      }
    }
  }

  &__6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding: 5% 4rem;

    @media only screen and (max-width: 28.175em) {
      height: 50vh;
      padding: 5% 2rem;
    }

    img {
      height: 80%;

      @media only screen and (max-width: 64em) {
        height: unset;
        width: calc(100vw / 2 - 6rem);
      }

      @media only screen and (max-width: 28.175em) {
        height: unset;
        width: calc(100vw / 2 - 4rem);
      }
    }

    img:last-child {
      align-self: flex-start;
      justify-self: flex-start;
    }

    img:first-child {
      justify-self: flex-end;
      align-self: flex-end;
    }
  }

  &__7 {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 80%;

      @media only screen and (max-width: 64em) {
        width: 90vw;
        height: unset;
      }

      @media only screen and (max-width: 28.175em) {
        height: unset;
        width: 90vw;
      }
    }
  }

  &__8 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: center;

    @media only screen and (orientation: portrait) {
      grid-template-columns: repeat(2, 1fr);
    }

    .img-container {
      width: 100%;
      position: relative;

      @media only screen and (orientation: portrait) {
        &:nth-child(2) {
          width: 40%;

          .text-2 {
            position: relative;
            width: 150%;
            text-align: center;
            left: -100%;
            transform: translateX(50%);
            margin: 2rem 0;
            display: block !important;
          }
        }

        &:first-child,
        &:last-child {
          width: 60%;

          img {
            top: 50% !important;
          }

          .text-2 {
            display: none;
          }
        }

        &:first-child {
          justify-self: flex-end;
          align-self: flex-start;
        }

        &:last-child {
          justify-self: flex-start;
          align-self: flex-start;
        }

        img {
          width: 100%;
        }
      }

      .aspect-ratio {
        padding-top: 150%;
        position: relative;
      }

      .text-2 {
        color: $color-brown;
        font-size: 1.6rem;
        line-height: 1.2;
        position: absolute;
        top: 0;
        left: 15%;
        width: 70%;
      }

      &:first-child {
        img {
          top: 60%;
        }

        .text-2 {
          top: 10%;
        }
      }

      &:nth-child(2) {
        .text-2 {
          display: none;
        }
        @media only screen and (orientation: portrait) {
          grid-column: 1 / -1;
          grid-row: 1 / 2;
        }
      }

      &:last-child {
        img {
          top: 40%;
        }

        .text-2 {
          bottom: 10%;
          top: unset;
        }
      }
    }

    img {
      top: 50%;
      left: 50%;
      position: absolute;
      max-height: 100%;
      width: 70%;
      object-position: center;
      object-fit: cover;
      transform: translate(-50%, -50%);
    }
  }

  &__9 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 140vh;
    scroll-snap-align: start;

    @media only screen and (max-width: 64em) and (orientation: portrait) {
      height: 100vh;
      align-items: center;
    }

    @media only screen and (max-width: 28.175em) {
      height: 100vh;
      align-items: center;
    }

    .img {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center -60px;

      @media only screen and (max-width: 64em) and (orientation: portrait) {
        height: 50%;
        background-position: center;
      }

      @media only screen and (max-width: 28.175em) {
        height: 50%;
        background-position: center;
      }

      &:first-child {
        background-image: url('../assets/images/prewed-13.webp');
      }

      &:last-child {
        background-image: url('../assets/images/prewed-14.webp');
      }
    }
  }

  &__10 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1rem;
    padding: 0 4rem;

    @media only screen and (max-width: 28.175em) {
      padding: 0 2rem;
    }

    .img-container {
      width: calc(100vw / 3 - 3rem);

      img {
        max-height: 80vh;
        max-width: 90%;
      }
    }
  }

  &__11,
  &__13,
  &__16 {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-position: center left;
      object-fit: cover;

      @media only screen and (orientation: portrait) {
        height: 50%;
      }
    }
  }

  &__12,
  &__14 {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 30%;
      height: 80%;
      object-position: top center;
      object-fit: cover;

      @media only screen and (orientation: portrait) {
        width: 70%;
        max-height: 65%;
      }
    }
  }

  &__13 {
    img {
      object-position: top center;
    }
  }

  &__15 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);

    .img-container {
      max-height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-height: 90%;
        width: 40%;
        object-position: center;
        object-fit: cover;

        @media only screen and (orientation: portrait) {
          width: 100%;
        }
      }
    }
  }

  &__16 {
    img {
      object-position: center;
    }
  }
}

.back-to-top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  z-index: -999;
  transition: opacity 0.3s;

  &.showed {
    opacity: 1;
    z-index: 1;
  }

  &__container {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-3 {
    text-align: center;
    font-weight: 700;
    color: $color-blue-c;
  }

  img {
    transform: rotate(180deg);
  }
}

.one {
  &__img-container {
    position: relative;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 36.5%;
    width: 50%;

    @media only screen and (max-width: 28.175em) {
      width: 100%;
      top: unset;
      left: unset;
      transform: unset;
      position: relative;
    }
  }

  &__description {
    position: absolute;
    top: 85%;
    left: 5rem;
    font-family: 'Peddana', sans-serif;
    line-height: 1.2;
    font-size: 1.8rem;
    color: $color-green;
    background-color: $color-brown-a;
    padding: 5rem 0 2rem 3rem;
    width: 105%;
    z-index: 0;

    @media only screen and (max-width: 50em) {
      width: 100%;
      padding: 3rem 2rem 2rem 2rem;
    }

    @media only screen and (max-width: 28.175em) {
      right: 0;
      left: unset;
      text-align: right;
      padding: 0 2rem;
      width: 100%;
      background-color: unset;
      color: $color-brown;
      top: unset;
      position: relative;
      padding-top: 2rem;

      &:before {
        content: '';
        position: absolute;
        right: 2rem;
        top: 1rem;
        height: 1px;
        width: 30%;
        background-color: $color-black-4;
      }
    }
  }

  &__arrow-down {
    position: absolute;
    bottom: -4rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: rgba(196, 196, 196, 0.1);
    height: 8rem;
    width: 8rem;
    clip-path: inset(0% 0% 50% 0%);

    img {
      margin-top: 1.6rem;
    }
  }
}

.heading-0 {
  font-weight: 400;
  font-size: 15rem;
  color: $color-brown;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  left: 20%;
  letter-spacing: 0.02em;
  line-height: 0.8;
  z-index: 1;
  background: linear-gradient(to right, $color-orange-a, #081c2e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media only screen and (max-width: 64em) {
    font-size: 10rem;
  }

  @media only screen and (max-width: 37.5em) {
    font-size: 7rem;
  }

  @media only screen and (max-width: 28.175em) {
    display: none;
  }
}

.img-1 {
  position: relative;
  z-index: 1;
  width: 100%;
}
