@font-face {
  font-family: Bigilla;
  src: url('assets/fonts/Bigilla.otf') format('opentype');
}

.heading-0 {
  font-family: Bigilla, sans-serif;
  font-weight: bold;
  font-size: 6.25rem;
  letter-spacing: 2px;
}

.heading-1 {
  font-family: Bigilla, sans-serif;
  font-weight: bold;
  font-size: 3.125rem;
  letter-spacing: 2px;
}

.heading-2 {
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 600;
  font-size: 3.125rem;
  letter-spacing: 2px;
}

.text-1 {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.5px;
}

.text-2 {
  font-family: 'Peddana', sans-serif;
  font-size: 2.1875rem;
  letter-spacing: 0.5px;
}

.text-3 {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.5625rem;
  letter-spacing: 0.5px;
}
