@for $i from 1 to 6 {
  .mb-#{$i} {
    margin-bottom: #{$i * 0.625}rem;

    @media only screen and (max-width: 28.125em) {
      margin-bottom: #{$i}rem;
    }
  }

  .mt-#{$i} {
    margin-top: #{$i * 0.625}rem;

    @media only screen and (max-width: 28.125em) {
      margin-top: #{$i}rem;
    }
  }

  .mr-#{$i} {
    margin-right: #{$i * 0.625}rem;

    @media only screen and (max-width: 28.125em) {
      margin-right: #{$i}rem;
    }
  }

  .ml-#{$i} {
    margin-left: #{$i * 0.625}rem;

    @media only screen and (max-width: 28.125em) {
      margin-left: #{$i}rem;
    }
  }
}

.overlay-blur {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  filter: blur(20px);
  z-index: 1000;
  background-color: rgba(white, 0.5);
}
