$color-black-1: #1c2727;
$color-black-2: #565b5c;
$color-black-3: #71787b;
$color-black-4: #dddede;
$color-maroon: #682f40;
$color-maroon-a: #9a4961;
$color-blue: #1c2f30;
$color-blue-a: #2d4b4d;
$color-blue-b: #447275;
$color-blue-c: #79b2b5;
$color-orange: #bb623a;
$color-orange-a: #d97e56;
$color-orange-b: #eaa88a;
$color-orange-c: #efc3af;
$color-green: #5f5b4b;
$color-green-a: #979175;
$color-green-b: #bdb9a6;
$color-green-c: #ede6dc;
$color-navy: #1f3f57;
$color-brown: #c9a98b;
$color-brown-a: #dccfbf;
